.container {
    position: absolute;
    display: flex;
    padding: 5px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: rgba(151, 147, 147, 0.3);
    z-index: 999;
}

.container>div:first-child {
    display: none;
    min-width: fit-content;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    top: 50px;
    transition: display 1s;
}


.container>div:first-child.error {
    background-color: rgba(255, 0, 0, 0.7);
    border: 1px solid red;
    color: white;
    display: block;
}

.container>div:first-child.pass {
    background-color: green;
    color: white;
    display: block;
}

/* Save Changes button */
.save {
    padding: 10px;
    background-color: white;
    color: rgb(54, 32, 105);
    border-radius: 5px;
    border: 2px solid rgba(54, 32, 105);
    align-self: center;
    margin-right: 15px;
    margin-left: auto;
}

.save:hover {
    border: 2px solid rgba(54, 32, 105, 0.6);
    color: rgba(54, 32, 105, 0.6);
}

@media screen and (max-width:470px) {
    .container>div:first-child {
        left: 33%;
    }
}