/* Panel containing Node icons */
.panel {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100vw;
    max-height: 100px;
    overflow-y: scroll;
    padding: 10px;
    border-top: 2px solid rgba(151, 147, 147, 0.3);
}


@media screen and (min-width:768px) {
    .panel {
        flex-direction: column;
        max-height: 100vh;
        max-width: 300px;
        border-top: none;
        border-left: 2px solid rgba(151, 147, 147, 0.3);
        margin-top: 50px;
        width: 300px;
        overflow-x: scroll;
    }
}