/* Style for Send Message Custom Node */
.customNode {
    min-height: 40px;
    border-radius: 5px;
    width: 100px;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(116, 116, 117, 0.5);
}


/* Text Message */
.customNode>div:nth-child(3) {
    padding: 3px;
    font-size: 12px;

}



/* Header of the Node */
.header {
    position: relative;
    display: flex;
    border-radius: 5px 5px 0 0;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
    padding: 3px;
    background-color: rgba(43, 197, 197, 0.5);
}

/* WhatsApp icon */
.header>div {
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}


/* The send message title of the Node header */
.header p {
    font-size: 6px;
    font-weight: bold;
    margin-left: 3px;
}