.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

}

.header p {
    position: relative;
    margin-left: 10px;
    top: -2px;
}


span {
    padding: 0px 3px 0px 3px;
    border: 1px solid gray;
    border-radius: 5px;
}

.back {
    background-color: inherit;
    border: none;
    font-size: 15px;
}

textarea {
    padding: 5px;
}